.custom-select {
  position: relative;
}

.custom-select.open .custom-select__drop-down {
  display: block;
}

.custom-select.open .custom-select__up {
  border-radius: 5px 5px 0 0;
}

.custom-select__up {
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
}

.custom-select__drop-down {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  right: 0;
}

.custom-select__list {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0 0 5px 5px;
  margin: 0;
  border-top: none;
  padding: 10px;
  list-style: none;
}

.custom-select__item {
  min-height: 20px;
}